main {
	width: 540px;
	height: 185px;
	background: #CCCCCC;
	display: flex;
	font-family: arial;
	font-size: 14px;
	border: 1px solid black;
}

.left-side {
	padding: 20px 20px 0;
	
}

logo {
	width: 97px;
	height: 97px;
}

.short-border {
	margin: 20px 0;
	width: 1px;
	background: black;
}

.right-side {
	padding: 22px 40px 25px 20px;
	position: relative;
}

h1 {
	font-size: 24px;
	margin: 0;
	font-style: italic;
}

p {
	margin-bottom: 12px;
}

.info {
	display: flex;
	flex-direction: row;
}

.acc, .acc-data {
	display: block;
	width: 110px;
	line-height: 1.3em;
}

.acc {
	font-weight: bold;
}

.edit {
	position: absolute;
	right: 20px;
	bottom: 20px;
}